<template>
	<div>
		<h1>{{ $route.params.category_id }}</h1>
		{{ products }}
	</div>
</template>

<script>
	export default {
		name: "Category",
		data () {
			return {
				products: {}
			}
		},
		mounted() {
			fetch('http://localhost:3000/' + $route.params.category_id)
				.then((response) => response.json())
				.then((products) => this.products = products)
		}
	}
</script>

<style scoped>

</style>
