<template>
	<div>
		<h1>Categories</h1>
		<ul>
			<li v-for="(category, index) in categoriesList" :key="index">
				<router-link :to="{name: 'category', params: {category_id: category}}">{{ category }}</router-link>
			</li>
		</ul>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				categoriesList: {}
			}
		},
		mounted() {
			fetch('http://localhost:3000/categories')
				.then((response) => response.json())
				.then((categoriesList) => this.categoriesList = categoriesList)
		}
	}
</script>

<style scoped>

</style>
