<template>
  <div class="home">
    <h1>Home</h1>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        categoriesList: {},
        highlightedProducts: []
      }
    },
    created () {
      fetch('http://localhost:3000/categories')
              .then((response) => response.json())
              .then((categoriesList) => this.categoriesList = categoriesList);
      fetch('http://localhost:3000/highlighted')
              .then((response) => response.json())
              .then((highlightedProducts) => this.highlightedProducts = highlightedProducts);
    }
  }
</script>
