<template>
	<div>
		<p>
			<button @click="showAdditionalText = !showAdditionalText">Show additional text</button>
		</p>
		<p>Toto je text</p>
		<p v-if="showAdditionalText">Toto je doplnkovy text (if)</p><!--může být hodně náročný, jelikož zde musí vue při zobrazení znovu sestavit celý dom, který ve skrývaném elementu může být hodně komplikovaný-->
		<p v-else>Doplnkovy text je schovaný</p>
		<p v-show="showAdditionalText">Toto je doplnkovy text (show)</p><!--v-show udělá to, že na element dá jen display:none-->
		<ul>
			<li
					v-for="(name, index) in users"
					:key="index"><!--klíč je tu důležitý kvůli výkonosti, když bych totiž měnil položky seznamu, tak bych musel všechny položky smazat a vygenerovat znovu. Jde tedy o efektivitu -->
				{{ name }}
			</li>
			<li v-for="(name, index) in users2" :key="index"> <!--výpis pole objektů -->
				{{ name }}
			</li>
		</ul>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				showAdditionalText: false,
				users: [
					'Marek Darek',
					'Marek Parek',
					'Marek Marek'
				],
				users2: {
					darek: 'Marek Darek',
					parek: 'Marek Parek',
					marek: 'Marek Marek'
				}
			}
		}
	}
</script>

<style scoped>

</style>
