<template>
	<div>
		<p> Full name: {{ fullName }}</p>
		<full-name-editor
				:value="fullName"
				@fullNameChange="handleFullNameChange"
		/>
	</div>
</template>

<script>
	import FullNameEditor from "./FullNameEditor";

	export default {
		name: "komponenta",
		components: {
			// FullNameEditor: FullNameEditor, v ES6 stačí napsat pouze název komponenty, pokud chci, aby se jmenovala stejně
			FullNameEditor
		},
		date() {
			return {
				fullName: 'Marek Darek'
			}
		},
		methods: {
			handleFullNameChange(newFullName) {
				this.fullName = newFullName
			}
		}
	}
</script>

<style scoped>

</style>
