<template>
	<div>
		<p>
			First name:<br>
			<input v-model="firstName">
		</p>
		<p>
			Last name:<br>
			<input v-model="lastName">
		</p>
		<p>test: {{ firstName }} {{ lastName }}</p>
		<p>
			<button @click="setFullName()">change name to `Franta Novak`</button><!--nyní to mám na click, ale já chci, aby to fungovalo na `onchange` inputů-->
		</p>
	</div>
</template>

<script>
	export default {
		name: "FullNameEditor",
		props: ['value'],
		data() {
			const [firstName, lastName] = this.fullName.split(' ')
			return {
				firstName: firstName,
				lastName: lastName
			}
		},
		methods: {
			setFullName () {
				this.$emit('fullNameChange', this.firstName + ' ' . this.lastName); //můžu použít funkci `fullNameChange` na elementu v rodicovské komponentě
			}
		},
		watch: {//objekt, jehož klíče jsou názvy properties, které chceme sledovat
			firstName () {
				this.setFullName()
			},
			lastName () {
				this.setFullName()
			}
		}
	}
</script>

<style scoped>

</style>
