<template>
	<div>
		<p ref="myParagraph">Fakin odstavec</p>ref je reference na daný odstavec, nemusím tak použít id nebo class
		<p>
			<button @click="handleClick">Ukaz odstavec</button>
		</p>
	</div>
</template>

<script>
	export default {
		methods: {
			handleClick() {
				console.log(this.$refs.myParagraph)//odkaz na ref=myParagraph, může vracet pole, pokud je tam více elementů s ref=myParagraph
				console.log(this.$el)//root element
			}
		}
	}
</script>

<style scoped>

</style>
