<template>
	<div>
		<p> Full name: {{ fullName }}</p>
		<full-name-editor v-model="fullName"/>
	</div>
</template>

<script>
	import FullNameEditor from "./FullNameEditorWithComputedAndWatch";

	export default {
		components: {
			// FullNameEditor: FullNameEditor, v ES6 stačí napsat pouze název komponenty, pokud chci, aby se jmenovala stejně
			FullNameEditor
		},
		data() {
			return {
				fullName: 'Marek Darek'
			}
		}
	}
</script>

<style scoped>

</style>
