<template>
	<div>
		<p>
			First name:<br>
			<input v-model="firstName">
		</p>
		<p>
			Last name:<br>
			<input v-model="lastName">
		</p>
	</div>
</template>

<script>
	export default {
		name: "FullNameEditor",
		props: ['value'],
		data() {
			const [firstName, lastName] = this.value.split(' ')
			return {
				firstName,
				lastName
			}
		},
		computed: {
			fullName () {
				return this.firstName + ' ' + this.lastName
			}
		},
		watch: {
			fullName() {
				this.$emit('input', this.fullName)
			}
		}
	}
</script>

<style scoped>

</style>
