<template>
	<div>
		<p> Full name: {{ fullName }}</p>
<!--		<fullnameeditor />-->
<!--		<FULLNAMEEDITOR />-->
<!--		<FullNameEditor /> možný, ale ne úplně správný zápis, lepší je: (je to kvůli tomu, že html tag není case sensitive), tzn všechny tři způsoby mají stejný výsledek -->
		<full-name-editor v-bind:full-name="fullName"/> <!--v tagu navíc posílám property do dětské komponenty-->
	</div>
</template>

<script>
	import FullNameEditor from "./FullNameEditor";

	export default {
		name: "komponenta",
		components: {
			// FullNameEditor: FullNameEditor, v ES6 stačí napsat pouze název komponenty, pokud chci, aby se jmenovala stejně
			FullNameEditor
		},
		date() {
			return {
				fullName: 'Marek Darek'
			}
		}
	}
</script>

<style scoped>

</style>
