<template>
	<div>
		<p>
			First name:<br>
			<input v-model:value="firstName">
		</p>
		<p>
			Last name:<br>
			<input v-model:value="lastName">
		</p>
		<p>test: {{ firstName }} {{ lastName }}</p>

<!--		<button v-on:click="firstName = 'Franta'">Pojmenuj mě 'Franta'</button> je to stejná funkčnost, jako to níže -->
		<button
				@click="firstName = 'Markos'"
				@click="lastName = 'Darkos'"
				@click.shift="lastName = 'Parkos'" <!--event na click + shift, v tomto případě se spustí jak click+shift event, tak click event-->
				@click.exact="lastName = 'Farkos'" <!--event jen pro click, nespustí se, pokud například držím i shift-->
		>
		Pojmenuj mě 'Franta'
		</button>

		<input v-model="counter">
		<button @click.once="counter += 1">+</button><!--spustí se pouze 1x díky tomu `once`-->
	</div>
</template>

<script>
	export default {
		name: "FullNameEditor",//dobré pojmenovávat více slovy, aby se to nepletlo s HTML tagy
		props: ['fullName'],//očekávám, že od rodičovské kompoennty dostanu nějakou property fullName
		data() {
			const [firstName, lastName] = this.fullName.split(' ')
			return {
				firstName: firstName,
				lastName: lastName,
				counter: 1
			}
		}
	}
</script>

<style scoped>

</style>
