<template>
  <div>
    <button @click.stop="editItem">Edit</button><!--stop udělá stopPropagation, jinak mi totiž ten klik na edit probublá i na klik na div -->
  </div>
</template>

<script>
  export default {
    props: {
      label: {
        type: String,
        required: true
      }
    },
    methods: {
      editItem () {
        alert(`Edit item ${this.label}`)
      }
    }
  }
</script>
