<template>
	<div>
		<p> Full name: {{ value }}</p>
		<full-name-editor-with-computed-and-watch v-model="value"/>
	</div>
</template>

<script>
	import FullNameEditorWithComputedAndWatch from "./FullNameEditorWithComputedAndWatch";

	export default {
		name: "komponenta",
		components: {
			FullNameEditorWithComputedAndWatch
		},
		data() {
			return {
				value: 'Marek Darek'
			}
		}
	}
</script>

<style scoped>

</style>
