<template>
	<div>
		<p>
			First name:<br>
			<input v-model="firstName">
		</p>
		<p>
			Last name:<br>
			<input v-model="lastName">
		</p>
		<p>
			Custom input:<br>
			<input v-model.trim="custom">
			{{ custom + 100000 }}
		</p>
	</div>
</template>

<script>
	export default {
		name: "FullNameEditorWithComputedAndWatch",
		props: {
			value: {
				type: String,
				defaultValue: 'Test',
				required: true,
				validate (input) {
					return input.length > 3
				}
			}
		},
		data() {
			const [firstName, lastName] = this.value.split(' ')
			return {
				firstName,
				lastName,
				custom: ''
			}
		},
		computed: {
			fullName () {
				return this.firstName + ' ' + this.lastName
			}
		},
		watch: {
			fullName() {
				this.$emit('input', this.fullName)
			}
		}
	}
</script>

<style scoped>

</style>
