<template>
	<div class="wrapper"><!--každá komponenta musí mít pouze 1 root element-->
		<h1>{{ firstName + ' ' + lastName }}</h1>
	</div>
</template>

<script>
	export default {
		name: "index.vue",
		// data: { takto je to už deprecated, protože to není immutable
		// 	firstName: "marek",
		// 	lastName: "darek"
		// }
		data() {//nový způsob, data je funkce, která vrátí vždy unikátní objekt, který jinde můžu libovolně měnit, aniž bych ovlivnil fuknčnost v aktuální kompoentě
			return {
				firstName: "marek",
				lastName: "darek"
			}
		}
	}
</script>

<!--
 - scoped nastaví styly tak, aby byly nastavené jen pro obsah této komponenty
 - dělá to pomocí data atributu data-v-ČÍSLO
-->
<style scoped>
	div {
		border: 1px solid #c00;
	}
</style>

<!--
 - jde přidat více sekcí se styly
-->
<style>
	div {
		padding: 10px;
	}
</style>

<!--
 - jde nastavit lang (zakomentováno - nemám nainstalovaný sass loader)
-->
<!--<style lang="scss" scoped>
	$primary-color: #c00;

	.wrapper {
		ht1 {
			color: $primary-color;
		}
	}
</style>-->
