<template>
  <div class="lifecycleComponent">
    {{ content }}
  </div>
</template>

<script>
  export default {
    props: {
      content: {
        type: String,
        required: true
      }
    },

    // do not use arrow functions

    beforeCreate () {
      // eslint-disable-next-line no-console
      console.log('before create', this)
    },
    created () {//vytvořená, ale ještě není v dokumentu /nastane jenom 1x)
      // eslint-disable-next-line no-console
      console.log('create', this)
    },
    beforeMount () {
      // eslint-disable-next-line no-console
      console.log('before mount', this)
    },
    mounted () {//jakmile připojím ke komponentě, může nastat vícekrát
      // eslint-disable-next-line no-console
      console.log('mounted', this)
    },
    beforeUpdate () {
      // eslint-disable-next-line no-console
      console.log('before update', this)
    },
    updated () {//volá se nejčastěji, vždy když se obsah změní (data nebo něco se reloadne)
      // eslint-disable-next-line no-console
      console.log('updated', this)
    },
    beforeDestroy () {
      // eslint-disable-next-line no-console
      console.log('before destroy', this)
    },
    destroyed () {//když se komponenta odstranuje z dokumentu
      // eslint-disable-next-line no-console
      console.log('destroyed', this)
    }
  }
</script>

<style scoped>
  .lifecycleComponent {
    border: 1px solid red;
    margin: 1em;
    padding: 1em;
  }
</style>
