<template>
	<div>
		<p>
			First name:<br><!--neumí reagovat na změny, jen vypíše proměnou-->
<!--			<input v-bind:value="firstName"> můžu napsat taky jenom dvojtečku, u bind je to stejné-->
			<input v-bind:value="firstName">
		</p>
		<p>
			First name:<br>
			<input v-model:value="firstName">
		</p>
		<p>
			Last name:<br>
			<input v-model:value="lastName">
		</p>
		<p>
			{{ firstName }} {{ lastName }}
		</p>
	</div>
</template>

<script>
	export default {
		name: "prace-s-daty",
		data() {
			return {
				firstName: "marek",
				lastName: "darek"
			}
		}
	}
</script>

<style scoped>

</style>
